{{- if ne .chezmoi.os "windows" -}}
{{ if eq .chezmoi.os "android" -}}
#!{{ env "PREFIX" }}/bin/bash
{{- else -}}
#!/usr/bin/env bash
{{- end }}
set -euo pipefail

export PATH="/usr/local/cargo/bin:$HOME/.cargo/bin:$HOME/.local/bin:$PATH"

bash "{{ .chezmoi.sourceDir }}/test/smoke.sh"
{{- end -}}
